
<div class = "title-text">
  Geisel Library
</div>


<div class = "subtitle-text">
    <p class="lead">
  University of California San Diego
</p>
</div>

<div class = "tagged-images-container ">
  <div class = "tagged-images-container-position">
    <% @results.each do |instagram| %>
      <div class = "image-display">
        <div class = "overlay">
          <%= image_tag(instagram.images.standard_resolution.url, class: "tagged-images") %>
            <%= link_to(instagram.images.standard_resolution.url, class: "test-popup-link") do %>
            <div class = "image-info">
              <div class = "image-info-placement">
                <%= if instagram.caption != nil
                    instagram.caption.text
                  end %>
                  <br/>
              <strong><%= instagram.user.username %></strong> - 
              <%= instagram.likes.count %> Likes
              </div>
            </div>
            <% end %>
        </div>
      </div>
    <% end %>
      <div class="apple_pagination">
    <%= will_paginate @results %>
  </div>
  </div>
</div>
